@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

html{
    background-color: #F2F7FC;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 0px solid #e7e7e7;
}

li a.left {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 22px 23px;
    font-family: 'ABeeZee', sans-serif;
    text-decoration: underline;
}

li a img{
    width: 45px;
    height: 45px;
}

header h1 {
    font-size: 40px;
    font-weight: bolder;
}

header h3 {
    font-size: 25px;
    font-weight: normal;
}

.button {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}

.container{
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
}

.text {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    font-family: 'ABeeZee', sans-serif;
    align-items: center;
}


.image {
    flex-basis: 30%;
    float: right;
    padding-top: 6%;
}

.image img {
    border-radius: 20%;
}

@media only screen and (max-width: 800px) {
    .container {
        width: 50%;
        margin: 6px 0;
    }
    .text {
        width: 25%;
    }
}
  
@media only screen and (max-width: 1050px) {
    .container {
        width: 100%;
    }
}